h1,
.writing {
    /* 	font-family: 'Rock Salt', cursive;
 */
    font-family: 'Rock Salt', cursive;
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
}

h1 {
    font-size: 36px;
    padding: 0px 15px;
}

p {
    font-family: 'Rock Salt', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Lakki Reddy', cursive;
    font-size: 20px;
    color: #3B5998;
}

.navbar-header {
    clear: both;
    margin: 0 auto;
    background-color: #3B5998;
    color: white;
}

body {
    background-image: url('../images/map.svg');
}

.nav-bar ,.top{
    text-align: center;
    background-color: #3B5998;
}
